[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
pylint = "*"
restructuredtext-lint = "*"
pygments = "*"
requests-mock = "*"
pytest = "*"
pytest-cov = "*"
black = "*"
"doc8" = "*"
tox = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
